@keyframes cardPopup {
  0% {
    transform: translateY(20%);
    opacity: 0%;
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.card {
  animation: 0.5s ease-out 0s 1 cardPopup;
  background: #001529;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.main {
  user-select: none;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  align-content: space-between;
}

.image {
  height: 100px;
  width: auto;
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
