::selection {
  background: #00d8a4;
  color: white;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
  background-color: #001529;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
