/* .menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

.antd-modal-content {
  background-color: #001529;
}

@keyframes cardPopup {
  0% {
    transform: translateY(20%);
    opacity: 0%;
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.card {
  animation: 0.5s ease-out 0s 1 cardPopup;
  background: #001529;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.secondary {
  background: white;
  padding: 0.5rem;
}

.queue-in-list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #00d8a4;
}

@keyframes headerDrop {
  0% {
    transform: translateY(-50%);
    opacity: 0%;
  }
  60% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.header {
  animation: 0.3s ease-out 0s 1 headerDrop;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 36px;
  height: auto;
  transition-duration: 0.2s;
}

.logo:hover {
  transform: rotate(0.05turn);
  transition-duration: 0.2s;
}

.news-footer {
  color: grey;
  display: flex;
  flex-flow: row;
}

.queue-info > * {
  text-align: left;
}

.anon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}

.anon-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  animation: 0.3s ease-out 0s 1 cardPopup;
  background: #001d39;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid #00d8a4;
}
